body {
  background-color: lightgrey;
}

.container {
  border:solid 2px white;
  min-height: 720px;
  background-image: url("fireworksStand.png");
  background-repeat: no-repeat;
  /*text-align: center;*/
}
.btn-group {
 min-width: 50%;
 padding: 2rem;
}

.dropdown-menu {
  text-align: center;
  text-decoration: none;
}

a {
  display: block;
}
