body {
 /* background-color: lightgrey;*/
  background-image: url("this.png") ;
  background-repeat: no-repeat;
}

.container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 3rem;
  border:solid 2px white;
  min-height: 720px;

  /*text-align: center;*/
}
.btn-group {
 min-width: 50%;
 padding: 2rem;
}

.dropdown-menu {
  text-align: center;
  text-decoration: none;
}

a {
  display: block;
}
